[submodule "Lifestyle/EthicalContacts"]
	path = Lifestyle/EthicalContacts
	url = https://github.com/ethicalainetwork/EthicalContacts.git
[submodule "Productivity/EthicalSign"]
	path = Productivity/EthicalSign
	url = https://github.com/oscarpobleteanahuac/EthicalSign.git
[submodule "Marketing/EthicalDocuments"]
	path = Productivity/EthicalDocuments
	url = https://github.com/ethicalainetwork/EthicalDocuments.git
[submodule "Marketing/EthicalForms"]
	path = Marketing/EthicalForms
	url = https://github.com/ethicalainetwork/EthicalForms.git
[submodule "Lifestyle/EthicalMails"]
	path = Lifestyle/EthicalMails
	url = https://github.com/ethicalainetwork/EthicalMails.githttps://github.com/ethicalainetwork/EthicalMails.git
